@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background: #FEFEFE;
  --primary-color: #F36246;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #FEFEFE;
    --background: #000000;
  }
}*/

body {
  color: var(--foreground);
  background: var(--background);
}

.container {
  max-width: 1680px;
  margin: 0 auto;
}

h1, ul, li {
  color: var(--foreground);
}

.text-highlight {
  color: var(--primary-color);
}