@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background: #FEFEFE;
  --primary-color: #F36246;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #FEFEFE;
    --background: #000000;
  }
}*/

body {
  color: var(--foreground);
  background: var(--background);
}

.container {
  max-width: 1680px;
  margin: 0 auto;
}

h1, ul, li {
  color: var(--foreground);
}

.text-highlight {
  color: var(--primary-color);
}

.card {
  background-color: var(--primary-color);
  color: var(--background);
}
/*
@media only screen and (max-width: 940px) {
  .container-hero {
    flex-direction: column-reverse;
  }

  .container-hero img {
    width: 60%;
    padding: 28px 0;
  }

  nav ul, nav button {
    display: none !important;
  }
}*/