@import "@koaris/bloom-ui/dist/tailwind.css";
@tailwind utilities;

:root {
  --foreground: theme('colors.neutral.800');
  --background: theme('colors.neutral.50');
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: theme('colors.neutral.50');
    --background: theme('colors.neutral.800');
  }
}

/*
body {
  color: var(--foreground);
  background: var(--background);
}*/
